<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.mapper.UserMapper">
    <resultMap id="user" type="com.yy.pojo.User">
        <result column="uid" property="id"/>
        <result column="tid" property="teacherId"/>
    </resultMap>
    <select id="selectUser" resultMap="user">
        select * from mybatis_test.user;
    </select>
</mapper>