<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p><a href="toLogin">Login</a></p>
    <p>--------------------------------</p>
    <p><a href="level1/1">Level1-1</a> </p>
    <p><a href="level1/2">Level1-2</a> </p>
    <p><a href="level1/3">Level1-3</a> </p>
    <p>--------------------------------</p>
    <p><a href="level2/1">Level2-1</a> </p>
    <p><a href="level2/2">Level2-2</a> </p>
    <p><a href="level2/3">Level2-3</a> </p>
    <p>--------------------------------</p>
    <p><a href="level3/1">Level3-1</a> </p>
    <p><a href="level3/2">Level3-2</a> </p>
    <p><a href="level3/3">Level3-3</a> </p>
</body>
</html>